[Unit]
Description=continuous automated packet sender
After=network.target

[Service]
ExecStart=/opt/caps/bin/caps
KillMode=process
Restart=always
RestartSec=3s
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
Alias=caps.service
